<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP to You!</title>
  <link rel="stylesheet" href="/css/uikit.css" />
  <link rel="stylesheet" href="../../public/css/style.css">
  <script src="/js/uikit.js"></script>
  <script src="/js/uikit-icons.js"></script>
</head>

<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/"></a>home</li>
            <li class="uk-parent"><a href="/signup"></a>/signup</li>
            <li><a href=""></a></li>
        </ul>
    </div>
</nav>
  <header class="">
  </header>
  <main>
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
