class="uk-heading-xlarge"> Account Dashboard</h1>

<div class="uk-container">
    <h2 class="uk-heading-medium">User Details</h2>
    <table class="uk-table">
      
    </table>
    <button class="uk-button uk-button-default" id="account-update">Save Account Updates</button>
</div>




<button class="uk-button uk-button-default" id="logout">Log Out</button>

<script src="/js/logout.js"></script>