<h1 class="uk-heading-xlarge">Create Account</h1>

<div class="uk-container">
    <form id="sign-up-form">
        <div class="uk-margin">
            <input id="email" class="uk-input" type="text" placeholder="Email">
        </div>
        <div class="uk-margin">
            <input id="password" class="uk-input" type="text" placeholder="Password">
        </div>
        <button type="submit" class="uk-button uk-button-default" id="create-account">Create Account</button>
    </form>
</div>
<script src="/js/createAccount.js"></script>